html {
	height:100%;
	width:100%;
	overflow:hidden;
}
body {
	padding-top:50px;
	height:100%;
	width:100%;
	overflow: hidden;
}


.nav-justified li {
	float:none;
}




.navbar-nav {
width:100%;
}
.appbody {
	height:100%;
	width:100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

.tabs .nav-pills li a {
	color:#929292;
}
.tabs .nav-pills li.active a {
	background:transparent;
	color:#4579fb;
}
.tabs .nav-pills a, .tabs .nav-pills a:active, .tabs .nav-pills a:hover, .tabs .nav-pills a:focus {
	background:transparent;
}
.tabs {
	border-width:0.5px 0 0 0;
	bottom:0 !important;
	margin:0;
	height:50px;
	background:linear-gradient(rgba(247,247,247,0.95),rgba(247,247,247,1));
}
.navbar-nav > li > a {
	padding:15px;
	height:50px;
	font-size:14pt;
	font-weight:400;
}
.header-arrow {
	float:left;
	display:inline-block;
	-webkit-transform:scale(1,2);
	margin-top:-3px;
	margin-right:2px;
	font-weight:500;
}
.navbar-nav, .nav {
	max-height:50px;
	height:50px;
	margin:0;
	padding:0;
}
.navbar-fixed-top .nav  li {
  float: left;
}
.navbar-fixed-top .navbar-header a {
		font-weight:500;
		font-size:14pt;

}
.navbar-fixed-top {
	margin:0;
}
.tabs .glyphicon {
	display:none;	
}

li.nav-back-arrow {
	display:none;
}
.tabs > .nav > li > a {
	line-height:50px;
	font-size:14pt;
	padding-top:0;
	padding-bottom:0;
	width:auto;
}
.tabs > .nav > li {
	width:auto;
	height:50px;
	padding:0;
}
.tabs > .nav {
	height:auto;
}
@media (max-width: 1024px) {

	.tabs {
		position:fixed;
		margin:auto;
		bottom:0;
		left:0;
		width:100%;
		background:#f7f7f7;
		background:linear-gradient(rgba(247,247,247,0.95),rgba(247,247,247,1));
		border-top:1px solid #C1C1C1;
		border-width: 0.5px 0 0 0;
		max-height:51px;
	}
		.tabs > .nav > li > a {
		height:50px;
		min-width:10px;
		border-radius:0;
		font-weight:normal;
		font-size:8pt;
		line-height:9pt;
	}
	.tabs .glyphicon {
		display:inline-block;
	}
	li.nav-back-arrow {
		display:inline-block;
	}
	.tabs .nav-pills > li {
  float: none;

	}

	.tabs .nav-justified > li {
	  display: table-cell;
	  width: 1%;
	}
	.tabs .nav-justified > li > a  {
	  margin-bottom: 0 !important;
	}
	.glyphicon.bottom-icon {
		display:block;
		font-size:20pt;
		margin-top:6px;
		margin-bottom:3px;
	}
	.navbar-fixed-top .navbar-header {
	position:fixed;
	left:50%;
	top:0;
	line-height:50px;
	}
	.navbar-fixed-top .navbar-header .navbar-brand {
		position:relative;
		left:-50%;
	}
	body {
		padding-bottom:50px;
	}
}

.btn-transparent {
	background:transparent;
}
