---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}

      <div class="btn-group">
        <span class="btn btn-primary"><span class="glyphicon glyphicon-tags"></span></span>
        {% assign tags_list = page.tags %}
{% if site.JB.tags_list.provider == "custom" %}
  {% include custom/tags_list %}
{% else %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <a class="btn btn-primary" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span class="label label-primary">{{ site.tags[tag].size }}</span></a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <a class="btn btn-primary" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span class="label label-info">{{ tag[1].size }}</span></a>
    {% endfor %}
  {% endif %}
{% endif %}
{% assign tags_list = nil %}
      </div></ul>


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

