body {
  font-size: 16pt;
  background: #000;
  color: #BBB;
  text-shadow: 0 0 10px black, 0 0 20px black;
}

.content {
  font-family: monospace;
  white-space: pre-wrap;
}

#spike-field {
  position: fixed;
  z-index:-1;
  top:0;
  left:0;
}

#mastodon {
  display: none;
}