
iframe, body, html {
	margin:0;
	padding:0;
	border:none;
	width:100%;
	height:100%;

}
body, html {
	overflow:hidden;
}
iframe {
height:99%;
}
body {
	font:12pt verdana;
}


/* Begin navbar */
#time, #num, #start{
	float:left;
	font-size:15px;
	height:34px;
	margin-left:0.5%;
	margin-right:2%;
	margin-top:1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-appearance:none;
	background-color:#ddd;
	background-image:-moz-linear-gradient(#ddd,#fff);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#ddd),to(#fff));
	border-radius:8px;
	border:none;
}
#refer {
	float:left;
	height:34px;
	margin-left:0.5%;
	margin-right:2%;
	margin-top:1px;

}

input#button {
	background-image:-moz-linear-gradient(#fff,#ddd);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#ddd));
}
.nav img {
	float:left;
	margin-top:12px;
}


.nav {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	font:15px verdana;
	color:white; 
	padding:0;
	margin:0;
	background-color:#333;
	background-image:-moz-linear-gradient(#444,#222);
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#444),to(#222));
	height:40px;
	text-align:left;
	margin-bottom:0;
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,.8);
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,.8);
	box-shadow:0px 0px 5px rgba(0,0,0,.8);

}
/* End navbar */